<div class='turn_menu' style='height:100px;'>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Skip Turn", turn_game_path(@game.id, :skill => 'end'), :remote => true %></li>
  </ul>
</div>
