
#header-logo {
  background-color: #aaffaa;
  height: 110px;
  border-radius: 10px 20px 10px 30px; 
  margin: 10px;
  padding:10px;
}

#menu {
  margin: 10px;
  text-align: center;
}

#main_site {
  margin:10px;
  padding: 30px;
  background-color: #D1C2B2 ;
  border-radius: 20px 10px 30px 10px;
}

.adventure-summary {
  padding:20px;
  background-color: #EDE7E0;
  border-radius: 10px 10px 40px 10px;

}
