/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.level_holders{
  padding: 300px;
}

table.level_grid {
  border: 1px solid black;
}

table.level_grid > tbody > tr {
  padding:0px;
  margin: 0px;
}

table.level_grid > tbody > tr > td {
  padding:0px;
  margin: 0px;
}

table.level_grid > tbody > tr > td > div {
  height:70px;
  width: 70px;
  border: 1px solid #444444;
}

.obstacle {
  background-color: black;
}

.wizard {
  background-image:url('wizard.png');
}

.ranger {
  background-image:url('ranger.png');
}

.fighter {
  background-image:url('fighter.png');
}

.snail {
  background-image:url('snail.png');
}

.cabbage {
  background-image:url('cabbage.png');
}

.door {
  background-image:url('door.png');
}
